/*Used alot of W 3 Schools for CSS, some sections reference it - https://www.w3schools.com/css/css_align.asp*/

/* this removes all the default spcaing my broswer adds */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
}


.hero {
    height: 400px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

a {
    color:white;
    text-decoration: none;
    
}

.section {
    padding: 40px 20px; /* 40px from top, 20 from side*/
}

.section h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.scroll-container {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.card {
    min-width: 400px;
    height: 200px;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    border-radius: 8px;
    cursor: pointer; /* shows cursor when u hover over to indicate its clickable*/
    border-left: 4px solid #555;

}

.card:hover {
    background-color: #333;
    transform: scale(1.05);
    transition: 0.3s;
    border-left-color: #888;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.card p {
    color: #aaa;
    font-size: 14px;
}



/* Styling for main body pages */
.page-info {
    max-width: 800px;
    margin: auto;
    padding: 60px 24px;
}

.page-heading {
    margin-bottom: 40px;
}

.page-heading h1 {
    font-size: 40px;
}

.info-block {
    margin-bottom: 30px;
}

.info-block h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-block p {
    font-size: 16px;
    line-height: 1.5;
    color: #ccc;
}

.home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #333;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #444;
}