{% extends "base.html" %}

{% block title %}Tariq Moollan - Portfolio{% endblock %}

{% block content %}

<section class="hero">
    <h1>Tariq Moollan</h1>
    <p>First Year CompSci/Commerce Student | Aspiring Developer | 6'3 Nonchalant dreadhead </p>
</section>


<section class="section">   
    <h2>Choose which story to learn</h2>
    <div class="scroll-container">
        <a href="/about" class="card-link">
            <div class="card">
                <h3>About Me</h3>
                <p>Learn who I am</p>
            </div>
        </a>

        <a href="/hobbies" class="card-link">
            <div class="card">
                <h3>My Hobbies</h3>
                <p>What I love doing</p>
            </div>
        </a>

        <a href="/projects" class="card-link">
            <div class="card">
                <h3>My Projects</h3>
                <p>Check out my work</p>
            </div>
        </a>

        <a href="/anime" class="card-link">
            <div class="card">
                <h3>Favorite Anime</h3>
                <p>My top picks</p>
            </div>
        </a>

        <a href="/languages" class="card-link">
            <div class="card">
                <h3>Coding Languages</h3>
                <p>Tech I know</p>
            </div>
        </a>

        <a href="/contact" class="card-link">
            <div class="card">
                <h3>Contact Me</h3>
                <p>Get in touch</p>
            </div>
        </a>
    </div>>

</section>









{% endblock %}